/* Footer Styles */
footer {
    margin-top: auto;
    background-color: #478fbf;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.tmdb a{
    height: 50%;
}

.icon-container a {
    height: 30%;    
}

.icon-container img {
    margin-left: 20px;
    height: 100%;
}

.tmdb {
    height: 10vh;
    display: flex;
    align-items: center;
}

.tmdb a{
    margin-left: 20px;
}

.tmdb img {
    margin-left: 20px;
    height: 100%;
}