/* Header styles */
.header-container {
    background: #404042;
    height: 50vh;
}

.login-container {
    background: #404042;
    height: 221px;
}

.background-image {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.background-image img {
    height: 100%;
}

.info-overlay {
    position: absolute;
    bottom: 6%;
    left: 6%;
    max-width: 80%;
    color: rgb(230, 226, 235);
    z-index: 1000;
}

.info-overlay p {
    display: none;
}

.genres {
    padding-inline-start: 0;
    list-style-type: none;
}

.genres li {
    margin-right: 10px;
    float: left;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(230, 226, 235, .6);
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .logo {
    margin: 10px;
    margin-left: 30px;
    margin-right: 0;
}

.logo-tmdb {
    margin: 0;
    margin-bottom: 30px;
}

header nav {
    flex: 1;
}

.genreContainer {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    align-items: center;
    width: 450px;
    z-index: 1200;
    background-color: #c6c6cf;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    top: 254px;
    left: calc(50% - (450px/2));
}

.genreContainer a {
    cursor: pointer;
    margin-bottom: 5px;
    padding-right: 5px;
    min-height: 35px;
    width: 25%;
}

nav ul {
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: block;
    padding: 2px 0;
    text-align: center;
}

nav ul a {
    display: block;
    text-decoration: none;
    width: 80vw;
    color: #3c3840;
    transition: color 1.5s;
}

.genre-btn:hover {
    cursor: pointer;
}

nav ul a:hover,
.login:hover {
    color: #787064;
    background-color: #c6c6cf;
}

.active {
    color: #787064;
    background-color: #c6c6cf;
}

.search input {
    background-color: #c6c6cf;
    width: 50vw;
    border: none;
    padding: 7px;
    margin: 10px 0 ;
    border-radius: 3px;
}

.login {
    text-decoration: none;
    color: #3c3840;
    transition: color 1.5s;
    padding: 2px;
}

@media (min-width: 768px) {

    header {
        padding-right: 5%;
        padding-left: 5%;
    }

    header {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .login-container {
        height: 79px;
    }

    nav ul a {
        width: 100%;
        margin-left: 15px;
        margin-bottom: 5px;
    }

    .genreContainer {
        top: 54px;
        left: initial;
    }

    .background-image img {
        height: unset;
        min-width: 800px;
        width: 100%;
    }    

    .info-overlay {
        bottom: 10%;
        max-width: 50%;
    }

    .info-overlay p {
        display: initial;
    }

    nav ul li{
        float: left;
    }

    .search input {
        width: 20vw;
        margin-right: 10px;
    }
}

