
.info-wrapper {
    background-color: #A7CB92;
}

.info-container {
    display: none;
    position: relative;
    width: 20vw;
    height: 100%;
    flex-direction: column;
}

.info-container h2,
.info-container h3,
.info-container .overview,
.info-container ul{
    margin: 0;
    padding: 10px;
    padding-right: 5%;
}

.info-container h2 span {
    font-weight: 100;
    font-size:  .8em;
}

.info-container .exit {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    border-radius: 2px;
    padding: 8px;
    cursor: pointer;
}

.rating-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
}

.rating-container p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 40%;
    background-color: #94949c;
    border: 1px solid #404042;
}

.rating-container button {
    background-color: #404042;
    height: 50px;
    width: 30%;
    cursor: pointer;
    display: block;
    border: none;
}

.list-bar {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.addlist {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #94949c;
    width: 50px;
    height: 50px;
    margin: 2px;
    margin: 0 auto;
    border: 1px solid #040408;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.addlist p {
    margin: 0;
}

.ls-container {
    position: relative;
}

.ls-overlay {
    display: none;
    position: absolute;
    width: 150px;
    background-color: #94949c;
    border: 1px solid #404042;
    top: 50px;
    left: -50px;
}

.ls-overlay li {
    list-style-type: none;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ls-overlay li:hover {
    width: 100%;
    background-color: #d4d4dc;
}

.ls-overlay li .icon {
    width: 20px;
}

