.login-form {
   position: relative;
   height: calc(100vh - (221px + 10vh)); 
}

.login-form form input {
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 5px;
}

.login-form form button {
    width: 25%;
    border: none;
    border-radius: 3px;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.login-form h1{
    margin: 0;
    padding: 10px;
}

.login-overlay {
    position: absolute;
    width: 20vw;
    height: 60vh;
    left: calc(50% - (20vw/2));
    top: calc(50% - (60vh/2));
    border: none;
    border-radius: 5px;
    background-color: #c6c6cf;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 10px rgba(64, 64, 66, .6);
}

@media (min-width: 768px) {
    .login-form {
        height: calc(100vh - (79px + 10vh)); 
     }
}