.header-genre {
    background: #404042;
    height: 244px;
}

.page-container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.poster img {
    width: unset;
}

.page-container .poster {
    padding: 10px;
}

.page-container .title {
    text-align: center;
    flex: 1 100%;
}

.page-btns {
    width: 100%;
}

.page-btns .btn-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.btn-bar button {
    background-color: rgba(212, 75, 45, .8);
    color: #F3CC6C;
    border: none;
    border-radius: 2px;
    padding: 10px;
    margin: 0 2px;
    cursor: pointer;
}

.btn-bar button:hover,
.active-page {
    background-color: #808083;
}

@media (min-width: 768px) {

    .page-container {
        width: unset;
        justify-content: center;
    }

    .page-container .poster {
        min-width: 19%;
    }

    .header-genre {
        height: 79px;
    }
}